<app-nav-bar></app-nav-bar>

<div class="text-center" *ngIf="isLiveActive">
    <app-video-stream-frame></app-video-stream-frame>
    <app-live-chat></app-live-chat>
    
    
</div>

<div *ngIf="!isLiveActive">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h2>Não há auditorias ativas nesse momento</h2>
            <button class="btn btn-primary" (click)="startStream()"> Iniciar Auditoria</button>
            </div>
        </div>
    </div>



</div>